body
{
	margin: 10px 30;
	padding : 0;
	text-align: center;
	font-family: Verdana, sans-serif;
	background : #AFEEEE;
}
/*Marges haute et basse à 10 px et les marges droite et gauche à 30.
*/

div#conteneur
{
	width: 770px;
	margin: 0 auto;
	text-align: left;
	border : 2px solid #FF7F50;
	background : #fff;
}
/*Largeur de la division qui contient l'ensemble de la page à 770 px.
Marge automatique permet de centrer le bloc.
Rétablissement de l'alignement à gauche changé plus haut pour le centrage de l'élément.
Bordure autour de l'ensemble de la page et blanc pour le fond.
*/

h1#header 
{
	height: 250px;
	background : url(title.png) no-repeat left top;
	/*mettre image de fond correspondant aux 250 px.*/
	margin : 0;
}
/*Hauteur de la partie header contenant le titre du site.
*/

h1#header a
{
	width: 400px;
	height: 70px;
	display: block; /*Donne mêmes dimensions au lien qu'à l'image insérée*/
	background : /*url(title.jpg) no-repeat*/;
	position: relative;
	left: 350px;
	top: 15px;
	text-indent: -5000px; /*Cacher le texte hors de la page*/
}

ul#menu
{
	height: 35px;
	margin: 30;
	padding: 0;
	background : #FFA07A /* ou mettre une image url(img.jpg) repeat-x 0 -25px*/;
	list-style-type: none;
}
/*Hauteur au menu correspondant à la taille de l'image utilisée en fond.
Image de fond avec décalage de 25 px vers le haut.
*/

ul#menu li
{
	float: left;
	text-align: center;
}
/*li flottants pour afficher horizontalement.
Cache les puces + Texte centré.*/

ul#menu li a
{
	width: 226.5px ;
	line-height: 30px ;
	font-size: 1.2em ;
	font-weight: bold ;
	letter-spacing: 2px ;
	color: #fff ;
	display: block ;
	text-decoration: none ;
	border-right: 2px solid #FF7F50 ;
}


div#contenu
{
	padding: 0 30px 0 100px;
	background : /*url(image.jpg) no-repeat 15px 15px*/;
}

div#contenu h2
{
	padding-left: 25px;
	line-height: 25px;
	font-size: 1.4em;
	background : /*url(image.jpg) no-repeat left bottom;*/
	color : #9b2;
	border-bottom: 2px solid #FF7F50;

}
/* Mise en forme du titre de page, une petite image, on décale le texte en fonction de l'image, on donne une couleur au texte et on met une bordure basse.*/


div#contenu h3
{
	margin-left: 15px;
	padding-left: 5px;
	color: #9b2;
}


div#contenu p
{
	text-align: justify;
	text-indent: 2em;
	line-height: 1em;
}
/*Alignement justifié, alinéa et hauteur de ligne supérieur à l'état normal. */

div#contenu a
{
	color: #8a0;
}


p#footer
{
	margin: 0;
	padding-right: 10px;
	line-height: 30px;
	text-align: right;
	color: #8a0;
}
/*Mise en forme pied de page.*/


article aside {
	display: flex;
}
article {
	display: flex;
	flex: 1;
}
aside 
{
	float : right;
	margin-left: 400px;
	margin-right: 5px;
	position: relative;
	flex: 1.2;
}


table
{
	border-collapse: collapse; /*Pour coller les bordures du tableau
*/
	margin-left: 20px;
	margin-top: 10px;
	color: #FFFFFF;
	background-color: #00008B;
}